html{
  font-size: 8px;
}

.col_lvio{
    background-color: #453F64;
}
.col_bvio{
    color: #6E6598;
}
.col_vio{
    color: #634FED;
}
.col_lb{
    color: #3AA1FF;
}
.col_red{
    color: #FF523A;
}
.col_white{
    color: #F1EDFD;
}

.back_lvio{
    background-color: #453F64;
}
.back_bvio{
    background-color: #6E6598;
}
.back_vio{
    background-color: #634FED;
}
.back_lb{
    background-color: #3AA1FF;
}
.back_red{
    background-color: #FF523A;
}
.back_white{
    background-color: #F1EDFD;
}

.inp_bl_o{
    margin-top: 2rem;
}
.inp_bl_o input{
    border: none;
    border-radius: 1.7rem;

}

.header_profile_aname{
    display: flex;
    align-items: center;
    justify-content: end;
    white-space: nowrap;
    width: calc(100% - 16rem);
}
.header_user_ava img{
    width: 3.2rem;
}
.header_user_name {
    overflow: hidden;
    text-overflow: ellipsis;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hportfolio_proc_names > div{
    position: relative;
    padding-left: 2.7rem;
}
.hportfolio_proc_names > div:not(:last-child){
    margin-bottom: 2rem;
}
.hportfolio_proc_names .pie_ico_col{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    transform: translateY(-50%);
}

.portfolio_pit_bl{
    display: flex;
    justify-content: center;
}

.profile_securities_cont{
    max-height: 34rem;
    overflow-y: auto;
}

.profile_securities_ta{
    text-align: right;
}


.perofile_sec_el {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    width: 100% !important;
    gap: 1rem 0;
}
.prof_sec_1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.prof_sec_2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: min-content;
}
.prof_sec_3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.prof_sec_4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: min-content;
}

.prof_sec_1_1 {
    width: 4.3rem;
    margin-top: -0.5rem;
}
.prof_sec_1_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    overflow: hidden;
}






#pop_chat{
    position: fixed;
    right: 1.9rem;
    bottom: 7.2rem;
    border-radius: 50%;
    width: 6.7rem;
    height: 6.7rem;
    cursor: pointer;
    transition: 0.3s;
}
#pop_chat:hover{
  filter: brightness(115%);
}
#pop_chat img{
    width: 100%;
}
    
/* payment */
.payment2 > div:first-child{
    width: 25.5rem;
}
.payment2 > div:last-child{
    width: 10rem;
}
.payment3{
    margin-top: 2rem;
}






.ccheckbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.ccheckbox input{
    display: none;
}
.ccheckbox .checkbox {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 0.5rem #fff solid;
    transition: 0.2s;
}
.ccheckbox input:checked ~ .checkbox {
    background-color: #3AA1FF;
}







#pieChart{
    max-width: 220px;
    max-height: 220px;
}

.slick-prev:active,
.slick-next:active{
    /* top: unset !important; */
}
.slick-prev:before,
.slick-next:before{
    content: '';
    display: block;
    height: 150px;
    width: 100%;
    background-size: 100% auto !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.slick-prev:before{
    background: url(../img/chev_prev.svg);
}
.slick-next:before{
    background: url(../img/chev_next.svg);
}
.banalytic .container-fluid{
    width: 90% !important;
}
.slick-prev{
    left: -3.2rem;
}
.slick-next{
    right: -3.2rem;
}

@media all and (max-width: 360px){
    html{
        font-size: 7px;
    }
    
}
@media all and (min-width: 576px){
    html{
        font-size: 9px;
    }
    #pieChart{
      max-width: 470px;
      max-height: unset;
    }

    .auth_inp_o{
        font-size: 2.35rem;
    }
    .payment2 > div:first-child{
        width: 34.5rem;
    }
    .payment2 > div:last-child{
        width: 14rem;
    }

    .operation_el{
        padding-left: 4rem;
    }
}
@media all and (min-width: 768px){
    html{
        font-size: 11px;
    }
    .profile_sec_img{
        max-width: 45px;
    }
    
    .slick-prev, 
    .slick-next{
        width: 3.5rem;
    }
    .slick-prev{
        left: -4.2rem;
    }
    .slick-next{
        right: -4.2rem;
    }
}

@media all and (min-width: 992px){
    html{
        font-size: 12px;
    }

    .profile_securities_cont{
        max-height: 24rem;
    }

    .perofile_sec_el {
        grid-template-columns: 5fr 6fr 15rem 15rem;
        grid-template-rows: auto;
        height: auto;
    }
    .prof_sec_1{
        grid-column: 1 / 2;
    }
    .prof_sec_2{
        grid-column: 3 / 4;
    }
    .prof_sec_3{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        white-space: nowrap;
    }
    .prof_sec_4{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
}
@media all and (min-width: 1200px){
    html{
        font-size: 14px;
    }
    .hportfolio_proc_names > div:not(:last-child){
        margin-bottom: 3rem;
    }
    
    .slick-prev, 
    .slick-next{
        width: 4.4rem;
    }
    .slick-prev{
        left: -5.2rem;
    }
    .slick-next{
        right: -5.2rem;
    }
}