{% extends 'common.html' %}
{% load static %}
{% block in_title %}Пополнение{% endblock %}
{% block in_body %}
        <div class="row">
            <div class="elem col-11 col-sm-10 col-lg-8 mx-auto px-5 py-5">
                <div class="h1 font-weight-bold">Пополнение</div>
                <div class="payment row">
                    <div class="payment1 col-12 col-sm-11 mx-auto">
                        <div class="inputs_bl">
                            <div class="inp_bl inp_bl_o">
                                <label class="place_imp_zag h4 mb-3">Сумма пополнения</label>
                                <input type="text" class="auth_inp auth_inp_o auth_inp_o_sum back_lvio h2 px-3 px-sm-5 py-4" id="summa" name="summa" autocomplete="off" required>
                                <span class="bord_inp"></span>
                            </div>
                            <div class="error_podinp"></div>
                        </div>
                    </div>
                    <div class="payment2 col-12 col-sm-11 mx-auto d-flex justify-content-between">
                        <div class="">
                            <div class="inputs_bl">
                                <div class="inp_bl inp_bl_o">
                                    <label class="place_imp_zag h4 mb-3">Номер карты</label>
                                    <input type="text" class="auth_inp auth_inp_o auth_inp_o_num back_lvio h2 px-3 px-sm-5 py-4" id="summa" name="summa" maxlength="19" autocomplete="off" required>
                                    <span class="bord_inp"></span>
                                </div>
                                <div class="error_podinp"></div>
                            </div>
                        </div>
                        <div class="ml-2">
                            <div class="inputs_bl">
                                <div class="inp_bl inp_bl_o">
                                    <label class="place_imp_zag h4 mb-3">Срок карты</label>
                                    <input type="text" class="auth_inp auth_inp_o auth_inp_o_date back_lvio h2 px-3 px-sm-5 py-4 text-center" id="summa" name="summa" maxlength="5" autocomplete="off" required>
                                    <span class="bord_inp"></span>
                                </div>
                                <div class="error_podinp"></div>
                            </div>
                        </div>
                    </div>
                    <div class="payment3 col-12 col-sm-11 mx-auto">
                        <div class="row">
                            <div class="col-6">
                                <button class="py-3">Пополнить</button>
                            </div>
                            <div class="col-6">
                                <label class="custom-checkbox"> 
                                    <input class="hidden-checkbox" type="checkbox">
                                    <div class="checkbox"> 
                                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>
                                        </div>
                                    Пример текста
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}