{% extends './common/common.html' %}
{% load static %}
{% block in_title %}Профиль{% endblock %}
{% block in_body %}
    <div class="row">
        <div class="elem col-11 mx-auto px-5 py-5">
            <div class="h1 mb-4 font-weight-bold">Личный кабинет</div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="inputs_bl">
                        <div class="inp_bl">
                            <input type="text" class="auth_inp" id="email" name="email" value="{{data.email}}" autocomplete="off" disabled required>
                            <span class="bord_inp"></span>
                            <label class="place_podinp">Email</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="inputs_bl">
                        <div class="inp_bl">
                            <input type="text" class="auth_inp" id="name" name="name" value="{{data.name}}" autocomplete="off" disabled required>
                            <span class="bord_inp"></span>
                            <label class="place_podinp">ФИО</label>
                        </div>
                    </div>
                </div>

                {% if userData.role == 'enterprise' %}
                    <div class="col-12 col-sm-6">
                        <div class="inputs_bl">
                            <div class="inp_bl">
                                <input type="text" class="auth_inp" id="phone" name="phone" value="{{data.phone}}" autocomplete="off" disabled required>
                                <span class="bord_inp"></span>
                                <label class="place_podinp">Телефон</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="inputs_bl">
                            <div class="inp_bl">
                                <input type="text" class="auth_inp" id="address" name="address" value="{{data.address}}" autocomplete="off" disabled required>
                                <span class="bord_inp"></span>
                                <label class="place_podinp">Адрес</label>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-12 col-sm-6 d-flex align-items-end">
                    <button class="h3 py-3 mt-5"><a href="/logout/">выход</a></button>
                </div>
                
                {% if userData.role == 'enterprise' %}
                    <div class="col">
                        <button class="h3 py-3 mt-4 mt-sm-5 back_red" type="button" data-toggle="modal" data-target="#myModal">Удалить профиль</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Модальное окно -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content back_lvio p-5">
                <div class="modal-body">
                    <h1 class="text-center mb-4"><b>Уверены ли вы?</b></h1>
                    <h2 class="text-center">На Вашем счету еще есть активы, если вы сейчас удалите аккаунт, вам вернутся средства на одну из привязанных карт, если ни одной карты не привязано деньги будут утеряны.</h2>
                </div>
                <div class="modal-footer mt-3">
                    <button class="h4 py-3">Да</button>
                    <button class="h4 py-3 ml-3" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}